* {
    box-sizing: border-box;
    scrollbar-width: none;
}

body {
    font-size: 112,5%;
    font-family: 'Raleway', sans-serif;
    color: #033C51;
    background-color: #C7E6F2;
    padding: 20px;
    margin: 0;
    display: grid;
    grid-template-rows: 48px auto 48px;
    height: 100vh;
}


a {
    color: #033C51;
    display: block;
}

h1, h2 {
    color: #690038;
    display: inline;
    font-family: 'Poppins', sans-serif;
    font-weight: lighter;
    text-shadow: 1px 1px #033C51;
}

header
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    background-color: #C7E6F2;
    
}


#nav{
    list-style-type: square;
    text-decoration:none;
    color: #690038;
}

#navcontact{
    text-decoration: none;
    display: inline;
}

#navbio{
    text-decoration: none;
    display: inline;
}

.content{
    overflow: scroll;
    min-height: 100vh;
    scrollbar-width: none;
}

/** main{
   background-color: #9DCADB;
    border-radius: 10px;
    padding: 10px;
    
}**/

.boxes{
    background-color: #9DCADB;
    border-radius: 10px;
    padding-left: 8px;
    padding-right: 8px;
    margin: 12px;
    box-shadow: 2px 2px #690038, -2px -2px #b6dae8;
}

.intro{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 12px;
    align-items: center;
    text-align: center;
    
}
.portrait{
    max-width: 100%;
    border:  #690038;
    border-style: solid;
    /**margin: 12px;**/
    
}

figure{
    margin: 0;
}


.caption{
    font-size: 70%;
}

.intro-text{
    text-align: left;
}

.interests-skills{
   padding: 8px;
}


#interests{
    list-style-type: square;
}

#skills{
    list-style-type: square;
}


#bio{
    padding-top: 20px;
    padding-bottom: 10px;
}

table{
    table-layout: auto;
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

td{
    text-align: left;
    border: 1px solid #690038;
    padding: 5px;
}

.cv-year{
    text-align: center;
}
#contact{
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border: #690038;
    border-style: solid;
    border-radius: 10px;
    box-shadow: 2px 2px #033C51;
    padding: 20px;
}



#github-link{
    display: inline-block;
}

#codepen-link{
    display: inline-block;
}

#linkedin-link{
    display: inline-block;
}

.imgicon{
    max-width: 30px;
    
}

footer{
    text-align: center;
    font-size: 80%;
}